body {
    background-color: darkslategrey;
    color: whitesmoke;
    font-size: 20px;
}

h1, h3 {
    color: black;
    text-align: center;
}

h4 {
    color: black;
    font-style: oblique;
    text-decoration: underline;
}

div {
    background-color: dimgray;
}

img {
    position: fixed;
    left:50px; top:10px;

}

p{
    margin: 4px;
}

.Description {
    width: 75%;
    margin: auto;
    padding: 6px;
    border: 2px solid black;
}

.listes {
    margin: auto;
    width: 75%;
}

.entete {
    position: center;
    margin: auto;
    font-size: 30px;
    height: 200px;
}

#Films, #Sports, #Livres {
    display: inline-block;
    margin: auto;
    width: 32%;
    border-left: 2px dashed rgb(0, 0, 0);
    border-top: 2px dashed rgb(0, 0, 0);
}
.Sociaux {
    position: center;
    width: 60%;
    margin: auto;
    text-align: center;
}
.Sociaux, .entete {
    border: 2px solid whitesmoke;
}